<section id="price_head" >

	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div style="margin-top: 0px; margin-left: 0px">
				<h1 style="color: #EF9223; font-weight: bolder">
					PRICING
				</h1>
				<br />
				<br />
				<h3 style="color: grey; font-weight: 100">
					Check out our price table below for your desired size .
				</h3>
				<h3 style="color: grey; font-weight: 100">
					What you see here is exactly how much you pay, no extra or hidden charges . 
				<h3 style="color: grey; font-weight: 100">
					Shipment and Assessory fee ? It's on us !
				</h3>
			</div>
		</div>
		<div class="col-md-8" id="price_header">
		</div>
	</div>
	</div>


</section>