


<div class="row" style="width: 100%;" id="dashboard_payment">

	<div>
		<h3 style="margin-left: 20px; color: #EF9223">
			Payments
		</h3>
		<%= column_chart Order.group_by_day(:created_at).sum(:total_price) %>
	</div>
		
</div>
