

<div class="">
	<div class="row">
		<div class="col-md-3">
			<%= render 'nav_bar' %>
		</div>
		<div class="col-md-8" style="margin-top: 0px; margin-bottom: 50px; margin-right: 50px">
			<%= render 'manage_servers' %>
		</div>
		<div class="col-md-1">
			
		</div>
	</div>

</div>
	

<script>
	$('li.order_tab > a').click( function () {
		$('li.order_tab > a').css('color', 'grey');
		$(this).css('color', '#EF9223');		
	});
</script>
