
<style>

.process_button {

  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

.order_detail_button {

  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

.shipping_detail_button {

  background-color: #709BC5;
  border-color: #709BC5;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}



</style>



<div class="">
	<div class="row">
		<div class="col-md-3">
			<%= render 'nav_bar' %>
		</div>
		<div class="col-md-8" style="margin-top: 0px; margin-bottom: 50px; margin-right: 50px">
			<%= render 'process_order' %>
		</div>
		<div class="col-md-1">
			
		</div>
	</div>

</div>
	


