
			<!-- 5 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center">
					<label>
						<%= f.radio_button :somatic_url, "#", style: "visibility: hidden;", id:"radio_vEzXdPnj" %>
						<%= image_tag '/items/mosaic-thumb.jpg', size: "170x113", class: "style_option clickable", id: "vEzXdPnj" %>
						<h5 style="font-weight: 200">
							Mosaic
						</h5>					
					</label>
				</div>
			</div>

			<!-- 6 row -->
			<div class="row" style="margin-top: 20px">
				<div class="col-md-4" align="center" style="height: 173px">

				</div>
			</div>