<section id="home" class="parallax-section">


	<div class="row">
			<div style="margin-top: -300px; margin-left: 75px">
				<h3 class="no_bold" style="color: black">WE TRANSFORM YOUR PHOTO IN COMPUTER TO ART ON THE WALL</h3>
			</div>
	</div>
	<div class="row" align="center">
			<div class="col-md-6 col-md-offset-6" style="margin-top: 200px; margin-left: 100px">
				<%= link_to 'GET STARTED', new_item_path, method:"get", class:"btn btn-default smoothScroll" %>
			</div>
	</div>



</section>