<section id="home" class="parallax-section">

	
			<div style="margin-top: -480px; margin-left: 35px">
				<h3>WE TRANSFORM PHOTOs IN YOUR COMPUTER TO ARTs ON THE WALL</h3>
			</div>
			<div style="margin-top: 200px; margin-left: 70px">
				<%= link_to 'GET STARTED', new_item_path, method:"get", class:"btn btn-default smoothScroll" %>
			</div>

</section>