<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Your Personal Workshop</h2>
				<h3>You Design, We Build It For You</h3>
				<%= link_to 'GET STARTED', new_item_path, method:"get", class:"btn btn-default smoothScroll" %>
			</div>
		</div>
	</div>
</section>