<section id="home" class="parallax-section">

	
			<div style="margin-top: -480px; margin-left: 50px">
				<h3 class="no_bold" style="color: black">WE TRANSFORM YOUR PHOTO IN COMPUTER TO ART ON THE WALL</h3>
			</div>
			<div style="margin-top: 200px; margin-left: 105px">
				<%= link_to 'GET STARTED', new_item_path, method:"get", class:"btn btn-default smoothScroll" %>
			</div>

</section>