<section id="home" >

	<div class="container">
	<div class="row">
			<div style="margin-top: -270px; margin-left: -80px">
				<h3 class="no_bold font_style" style="color: black; display: none">
					We Transform Your Photos In Computer To Art On The Wall
				</h3>
			</div>
	</div>
	<div class="row" align="center">

	</div>
	</div>


</section>