<section id="home" class="parallax-section">


	<div class="row">
			<div style="margin-top: -270px; margin-left: 120px">
				<h3 class="no_bold" style="color: black">We Transform Your Photos In Computer To Art On The Wall</h3>
			</div>
	</div>
	<div class="row" align="center">
			<div class="col-md-6 col-md-offset-6" style="margin-top: 200px; margin-left: 203px">
				<%= link_to 'GET STARTED', new_item_path, method:"get", class:"btn btn-default smoothScroll" %>
			</div>
	</div>



</section>