
<style>
.carousel-indicators {
  bottom:-60px;
  color: black;
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: lightgrey;  
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: #EF9223;
}

.carousel-control {
    z-index: 10;
    top: 2%;
    width: 30px; // no more gray thing
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.carousel-control.left,
.carousel-control.right { background: none; margin-top: -100px}

.carousel-control.left { left: -10px; }
.carousel-control.right { right: -10px; }

.quality_ribbon{
	width: auto;
	height: auto:
	max-width: 60px;
	max-height: 60px;
}

.customer_big_star {
		color: #EF9223;
		font-size: 40px;
}

.customer_small_star {
		color: #EF9223;
		font-size: 15px;
}
	
.customer_image {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}
</style>

<section id="customers" class="parallax-section">
	<div class="container">
		<br />
		<div class="row" align="center">
				<h3 style="font-weight: 900">
					用户评价 &nbsp;<i class="fa fa-heart" style="color: red" aria-hidden="true"></i>
				</h3>
		</div>
		<br />
		<hr style="width: 90%; border-color: black" />
		
		<div align="center">
			根据从200个微信客户追踪反馈，综合得分4.8.
		</div>
		
		<br />
		<br />
		<div align="center">
			<i class="fa fa-star customer_big_star" aria-hidden="true"></i>
			<i class="fa fa-star customer_big_star" aria-hidden="true"></i>
			<i class="fa fa-star customer_big_star" aria-hidden="true"></i>
			<i class="fa fa-star customer_big_star" aria-hidden="true"></i>
			<i class="fa fa-star customer_big_star" aria-hidden="true"></i>
		</div>	
		<div class="row" align="center">
			<h3>
				4.8 <span style="color: lightgrey">/ 5</span>
			</h3>
		</div>
		<br />
		
		<!-- Customer Testimonials -->
		<div class="row">
			<div class="col-md-6">
				<div class="row">

					<div class="col-md-12" style="color: black">
						<i class="fa fa-quote-left" aria-hidden="true" style="font-size: 20px"></i>
						<p>
							"Ordered another couple of canvas after first order, looks amazing ! "
						</p>

						<div class="row">
							<div class="col-md-5" style="color: grey">
								-- Matthew W
							</div>
							<div class="col-md-7">
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
							</div>
						</div>	
						<span style="color: grey">7 months agao</span>					
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
	
					<div class="col-md-12" style="color: black">
						<i class="fa fa-quote-left" aria-hidden="true" style="font-size: 20px"></i>
						<p>
							"We love our canvas, i had used this site for years to create all my canvas !"
						</p>

						<div class="row">
							<div class="col-md-5" style="color: grey">
								--  Mike Sun
							</div>
							<div class="col-md-7">
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o customer_small_star" aria-hidden="true"></i>
							</div>
						</div>	
						<span style="color: grey">8 months agao</span>					
					</div>
				</div>			
			</div>
		</div>

		<div class="row" style="margin-top: 50px; margin-bottom: 100px">
			<div class="col-md-6">
				<div class="row">
		
					<div class="col-md-12" style="color: black">
						<i class="fa fa-quote-left" aria-hidden="true" style="font-size: 20px"></i>
						<p>
							"Strongly recommend this site if you have limited budget on home Decor.."
						</p>

						<div class="row">
							<div class="col-md-5" style="color: grey">
								-- Jessica Lee
							</div>
							<div class="col-md-7">
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o customer_small_star" aria-hidden="true"></i>
							</div>
						</div>	
						<span style="color: grey">5 months agao</span>					
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
		
					<div class="col-md-12" style="color: black">
						<i class="fa fa-quote-left" aria-hidden="true" style="font-size: 20px"></i>
						<p>
							"The quality is great given such a low price, hope shipping could be free forever."
						</p>

						<div class="row">
							<div class="col-md-5" style="color: grey">
								--  Kevin M.
							</div>
							<div class="col-md-7">
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
								<i class="fa fa-star customer_small_star" aria-hidden="true"></i>
							</div>
						</div>	
						<span style="color: grey">8 months agao</span>					
					</div>
				</div>			
			</div>
		</div>	
			
		

		
		
	
		

		

	</div>
</section>