<section id="menu" >
	<div class="container" style="width: 75%">
		<div class="row" align="center" style="height: 100px">
				<h3 style="font-weight: 300; font-size: 25px; word-spacing: 5px">Easy As <span style="color: #EF9223; font-weight: 900">3</span> Steps</h3>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<div class="box three_box" style="margin: 0 auto; border-color: #ef9223">
					
						<div class="row" align="center" style="margin-top: 15px">
							<div class="number_circle">1</div>
						</div>
						<div class="row" align="center">
							<h3 class="" style="font-weight: 900; font-size: 25px">
								Choose
							</h3>
						</div>
						<div class="row" align="center">
							<i class="fa fa-upload" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 10px"></i>
						</div>
						<div>
							<p style="color: grey; font-size: 15px; font-weight: 300; margin-top: 20px" align="center">
								You can upload your favorate photos from your computer, photo album of facebook, instagram or pinterest.
							</p>
						</div>
					
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="box three_box" style="margin: 0 auto; border-color: #ef9223">
					
						<div class="row" align="center" style="margin-top: 15px">
							<div class="number_circle">2</div>
						</div>
						<div class="row" align="center">
							<h4 class="" style="font-weight: 900; font-size: 25px">
								Customize
							</h4>
						</div>
						<div class="row" align="center">
							<i class="fa fa-paint-brush" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 10px"></i>
						</div>
						<div>
							<p style="color: grey; font-size: 15px; font-weight: 300; margin-top: 20px" align="center">
								We provide online tools to make your masterpiece looks greater, you don't have to be an artist to create a piece of art.
							</p>
						</div>
					
					
				</div>
			</div>
						

			<div class="col-md-4">
				<div class="box three_box" style="margin: 0 auto; border-color: #ef9223">
					
						<div class="row" align="center" style="margin-top: 15px">
							<div class="number_circle">3</div>
						</div>
						<div class="row" align="center">
							<h4 class="" style="font-weight: 900; font-size: 25px">
								Order
							</h4>
						</div>
						<div class="row" align="center">
							<i class="fa fa-truck" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 10px"></i>
						</div>
						<div>
							<p style="color: grey; font-size: 15px; font-weight: 300; margin-top: 20px" align="center">
								We provide online tools to make your masterpiece looks greater, you don't have to be an artist to create a piece of art.
							</p>
						</div>
					
					
				</div>
			</div>
						

		
			
		</div>
	
	</div>
</section>