<section id="menu">
	<div class="container" style="width: 75%">
		<div class="row" align="center" style="height: 100px; margin-top: 100px">
				<h3 style="font-weight: 300; font-size: 25px; word-spacing: 5px">为什么选择 <i class="fa fa-plus" aria-hidden="true"></i> <i class="fa fa-plus" aria-hidden="true"></i> VPN</h3>
		</div>
		
		<div class="row" style="font-size: 25px">
			<table class="table table-bordered">
				<thead>
					<tr style="background: lightgrey">
						<td>
						
						</td>
					
						<td>
						++VPN
						</td>
					
						<td>
						其他VPN
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							速度
						</td>
						<td style="color: green">
							上传下载不限速
						</td>
						<td style="color: red">
							限速
						</td>					
					</tr>

					<tr>
						<td>
							同时使用设备数量
						</td>
						<td style="color: green">
							不限制
						</td>
						<td style="color: red">
							有限
						</td>					
					</tr>
					
					<tr>
						<td>
							VPN线路
						</td>
						<td style="color: green">
							专线独享
						</td>
						<td style="color: red">
							其他用户共享
						</td>
					</tr>

					<tr>
						<td>
							稳定性
						</td>
						<td style="color: green">
							7 x 24 小时不掉线
						</td>
						<td style="color: red">
							易掉线
						</td>
					</tr>
				</tbody>
			</table>		
		</div>
	
	</div>
</section>