<section id="menu" >
	<div class="container">
		<div class="row" align="center" style="height: 100px">
				<h3 class="no_bold font_style" style="word-spacing: 10px;">How  It  Works</h3>
		</div>
		
		<div class="row">
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: 30px; border-color: #ef9223">
					<div class="col-md-8" style="height: 100%;">
						<div class="row" align="left" style="margin-top: 15px">
							<div class="number_circle">1</div>
						</div>
						<div class="row" align="left">
							<h4 class="" style="margin-left: 15px">
								Upload Your Image
							</h4>
						</div>
						<div>
							<p style="color: grey; font-size: 14px" align="left">
								You can upload your favorate images from your local computer, photo album of facebook, instagram or pinterest.
							</p>
						</div>
					</div>
					<div class="col-md-4" style="height: 100%">
							<i class="fa fa-upload" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 70px"></i>

							
					</div>
				</div>
			</div>
			
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: 30px; border-color: #ef9223">
					<div class="col-md-8" style="height: 100%;margin-top: 15px">
						<div class="row" align="left">
							<div class="number_circle">2</div>
						</div>
						<div class="row" align="left">
							<h4 class="" style="margin-left: 15px">
								Customize Your Masterpiece
							</h4>
						</div>
						<div>
							<p style="color: grey; font-size: 14px" align="left">
								We provide online tools to make your masterpiece looks greater, you don't have to be an artist to create a piece of art. 
							</p>
						</div>
					</div>
					<div class="col-md-4 " style="height: 100%">
						<i class="fa fa-paint-brush" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 70px"></i>				
					</div>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 15px">
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: 30px;border-color: #ef9223">
					<div class="col-md-8 " style="height: 100%;margin-top: 15px">
						<div class="row" align="left">
							<div class="number_circle">3</div>
						</div>
						<div class="row" align="left">
							<h4 class="" style="margin-left: 15px">
								We Produce Your Masterpiece
							</h4>
						</div>
						<div>
							<p style="color: grey; font-size: 14px" align="left">
								Tell us on which product you want your art to live. Canvas, Frame, T-shirt...You name it, We make it.
							</p>
						</div>
					</div>
					<div class="col-md-4" style="height: 100%">
						<i class="fa fa-cogs" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 70px"></i>
					</div>
				</div>
			</div>
			<div class="col-md-6" align="center">
				<div class="col-md-12 box four_box" style="margin-left: 30px;border-color: #ef9223">
					<div class="col-md-8 " style="height: 100%;margin-top: 15px">
						<div class="row" align="left">
							<div class="number_circle">4</div>
						</div>
						<div class="row" align="left">
							<h4 class="" style="margin-left: 15px">
								Free Shipping To Your Door
							</h4>
						</div>
						<div>
							<p style="color: grey; font-size: 14px" align="left">
								YES, we deliver it to you for FREE ~ WORLDWIDE !
							</p>
						</div>
					</div>
					<div class="col-md-4 " style="height: 100%">
						<i class="fa fa-truck" aria-hidden="true" style="color: #EF9223; font-size: 80px; margin-top: 70px"></i>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</section>