<div id="signup_note" style="display: none" class="note">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 style="margin-top: 0px"><img src='/thin_check_icon.png'  class="note_ok_icon" />&nbsp;Sign Up Successfully</h2>
		</div>
		<div class="col-md-1">
			<img src='/note_close_icon.ico'  class="note_close_icon" style="cursor: pointer"/>
		</div>
	</div>
</div>

<div id="login_note" style="display: none" class="note">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 style="margin-top: 0px"><img src='/thin_check_icon.png'  class="note_ok_icon" />&nbsp;Login Successfully</h2>
		</div>
		<div class="col-md-1">
			<img src='/note_close_icon.ico'  class="note_close_icon" style="cursor: pointer"/>
		</div>
	</div>
</div>

<div id="logout_note" style="display: none" class="note">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 style="margin-top: 0px"><img src='/thin_check_icon.png'  class="note_ok_icon" />&nbsp;Logout Successfully</h2>
		</div>
		<div class="col-md-1">
			<img src='/note_close_icon.ico'  class="note_close_icon" style="cursor: pointer"/>
		</div>
	</div>
</div>