<section id="products" class="parallax-section">
	<div class="container">
		<div class="row" align="center">
				<h2 style="color: grey;font-weight: bolder">What kind of products we make for your photos</h2>
		</div>
		
		<div class="row" style="margin-top: 50px">
			<div class="col-md-6" align="right" style="margin-right: 0px">
				<img src="/welcome/golden_gate_bridge_5.png" class="product_image_in_welcome" style="margin-right: -15px">
			</div>
			
			<div class="col-md-6" align="left" style="margin-left: 0px">
				<img src="/welcome/single_canvas_background.jpg" class="product_image_in_welcome" style="margin-left: -16px">
			</div>
		</div>
		<div class="row" align="center">
			<h4>Non-Framed Canvas</h4>
		</div>

		<div class="row" style="margin-top: 50px">
			<div class="col-md-6" align="right" style="margin-right: 0px">
				<img src="/welcome/product_framed_canvas.png" class="product_image_in_welcome" style="margin-right: -15px">
			</div>
			
			<div class="col-md-6" align="left" style="margin-left: 0px">
				<img src="/welcome/framed_canvas_background.jpg" class="product_image_in_welcome" style="margin-left: -16px">
			</div>
		</div>
		<div class="row" align="center">
			<h4>Framed Canvas</h4>
		</div>
		
		<div class="row" style="margin-top: 50px">
			<div class="col-md-6" align="right" style="margin-right: 0px">
				<img src="/welcome/cute_dog.png" class="product_image_in_welcome" style="margin-right: -15px">
			</div>
			
			<div class="col-md-6" align="left" style="margin-left: 0px">
				<img src="/welcome/welcome_product_frame.jpg" class="product_image_in_welcome" style="margin-left: -16px">
			</div>
		</div>
		<div class="row" align="center">
			<h4>Framed Print</h4>
		</div>
		

	</div>
</section>