<style>

#quality_banner {
  background: url('/welcome/quality_banner.png') 100% 0 repeat-y;
  -webkit-background-size: cover;
  
  background-position: center;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
 
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  text-align: center;
}

#transform_button {

  width: 200px;
  height: 50px;
  border-color: #ef9223;
  border-style: solid;
  background-color: #ef9223;
  border-radius: 5px;
  margin-top: 30px;
  background: transparent;
  font-size: 20px;
  font-weight: bolder;
  color: #ef9223;
}

#transform_button:hover {
  background-color: #ef9223;
  color: white;
}

</style>

<section id="quality_banner" class="parallax-section">
	<div class="container" style="height: 350px">
		<div class="row" style="margin-top: 100px" align="center">

				<h2 style="color: white; font-weight: 900">
					Craft Your Product With High Quality
				</h2>
				<h4 class="no_bold" style="color: white; margin-top:20px">
					We print your photo on canvas with high resolution industrial printer and handcraft it on best-quality frames. 
				</h4>
				<%= button_to 'Order Now', new_item_path, class:"btn btn-primary", method:"get", id:"transform_button" %>
			</div>
		</div>
	</div>
</section>

<script>

		$(".twentytwenty-container-bridge").twentytwenty();
		$('.twentytwenty-overlay').hide();
		$('.twentytwenty-handle').hide();
</script>
