<style>

#banner {
  background: url('/welcome/half_and_half_bridge.jpg') 100% 0 repeat-y;
  -webkit-background-size: cover;

  background-position: center;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
 
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  text-align: center;
}


</style>

<section id="banner" class="parallax-section">
	<div class="container" style="height: 350px">
		<div class="row" style="margin-top: 100px" align="center">

				<h1 style="color: white">
					We transform your photos into arts with one click
				</h1>

			</div>
		</div>
		

	</div>
</section>

<script>

		$(".twentytwenty-container-bridge").twentytwenty();
		$('.twentytwenty-overlay').hide();
		$('.twentytwenty-handle').hide();
</script>
