<div style="<% if current_user %>display: none<% end %>">
<h3>Contact Email</h3>
<hr style="width: 550px; margin-left: 1px; border-width: 1px; border-color:#E2E2E2;"/>


<!-- Contact Email For Guest -->
<span style="margin-left: 10px;">We'll send your order receipt and shipping notifications here.</span>
<div class="row" style="margin-left: -10px; margin-top: 10px; margin-bottom: 80px">

	<div class="col-md-6">

		<% if current_user %>
			<%= f.text_field :guest_email, class:"form-control input-lg", placeholder:"email@example.com", style:"width:100%", value: current_user.email %>
		<% else %>
			<% if @order.errors[:guest_email].any? %>
				<span class="form_error"><%= @order.errors[:guest_email][0] %></span>
				<%= f.text_field :guest_email, class:"form-control input-lg", placeholder:"email@example.com", style:"width:100%; border-color: red" %>
			<% else %>
				<%= f.text_field :guest_email, class:"form-control input-lg", placeholder:"email@example.com", style:"width:100%" %>
			<% end %>
		<% end %>
		<h5 style="color: orange" id="coupon_error_msg"></h5>
	</div>
</div>
</div>
