<div id="summary_box" class="row box" style="height:400px; width:350px; margin-left:-20px; margin-top: 40px;">
	<div class="row" align="center" style="height:100px; margin-top: 40px" >
		<h3 style="font-weight: 300">VPN套餐</h3>
	</div>

	<div class="row" align="center" style="height:100px; " >
				<% cart = get_current_cart %>
				<% if cart.items[0].plan == 1 %>
					<h1>
						1个月
					</h1>
				<% elsif cart.items[0].plan == 2 %>
					<h1>
						3个月
					</h1>
				<% else %>
					<h1>
						12个月
					</h1>
				<% end %>		
	</div>
	
	<hr style="width: 70%" />
	<div class="row" align="center" style="height:50px;" >
		<h3 class="no_bold">总额: <b id="total_price">$<%= @cart.price.to_f %></b></h3>


	</div>
</div>