
			<div class="row" style="height:400px; width:350px;border-style: solid; border-width: 3px;border-color:#EDEDED; margin-left:10px;">
				<div class="row" align="center" style="height:100px; margin-top: 40px" >
					<h2>Order Summary</h2>
				</div>

				<div class="row" align="center" style="height:100px; " >
					<h4 >3 items: $342</h3>
					<h4 >Shipping: Free</h3>
				</div>
				<hr style="width: 50%"/>
				<div class="row" align="center" style="height:50px;" >
					<h3 >Total: $342</h3>
				</div>
			</div>