<h3>Payment Info</h3>
<hr style="width: 550px; margin-left: 1px; border-width: 1px; border-color:#E2E2E2;"/>

<div class="row" style="height:400px; margin-top:20px ">

	<!-- Stripe for Payment -->
	<span class="payment-errors"></span>

	<div class="row">
		<div class="form-group col-lg-6">
			<label> <span>Card Number</span></label>
			<input type="text" size="20" data-stripe="number" class="form-control input-lg">
		</div>
	</div>

	<label><span>Expiration 	(MM/YY)</span></label>
	<label style="margin-left: 150px"> <span>CVC</span> </label>
	<div class="row">
		<div class="form-group col-xs-2">
			<input type="text" data-stripe="exp_month" class="form-control input-lg">
		</div>
		<div class="form-group col-xs-2">
			<input type="text" size="2" data-stripe="exp_year" class="form-control input-lg">
		</div>
		<div class="form-group col-xs-2">
			<input type="text" size="4" data-stripe="cvc" class="form-control input-lg">
		</div>
	</div>

</div>


