<div class="col-md-2">
		<div class="row" style="height:500px; width:350px;border-style: solid; border-width: 3px;border-color:#EDEDED; margin-left:10px; position:fixed">
			<div class="row" style="height:100px; margin-top: 40px; margin-left:100px" >
				<h2>Your Cart</h2>
			</div>

			<h4 style="margin-left: 30%"><b id="cart_quantity"><%= cart.quantity %></b> items: $<b id="cart_price"><%= cart.price %></b></h4>
			<div class="row" style="height:200px; margin-left: 50px" >

				<%= button_to 'Checkout', new_order_path, method: :get, class:"btn btn-primary btn-lg", style:"width: 80%" %>
				<br />
				<br />
				<%= button_to 'Continue Shopping', new_item_path, method: :get, class:"btn btn-secondary btn-lg", style:"width: 80%" %>

			</div>
			<div class="row" style="height:50px; margin-left: 50px " >
				<p>
					<em> Does not include tax or shipping. Chat with us or email support@canvasking.com with any questions about your order. </em>
				</p>

			</div>
		</div>
	</div>