<%= render "layouts/navbar" %>

<div class="container">
	<div class="row" style="margin-top: 100px">
	
	<% if @cart.items.count == 0 %>
		<div class="col-md-9">
			<h3>Woops, Your Cart is still empty. Let's build it !</h3>
			<%= button_to 'Get Building', new_item_path, method: :get, class:"btn btn-primary btn-lg" %>
		</div>
	<% else %>
		<%= render partial:'items', locals:{cart: @cart } %>
		<%= render partial:'summary', locals:{cart: @cart } %>
	<% end %>
	
</div>
</div>
