$(window).on('load', function(){

  $('#facebook_upload_button').click(function (){
  		load_images_from_facebook();
  });

  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["facebook_app_id"] %>',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
	// Only works after `FB.init` is called
	function load_images_from_facebook() {
  		FB.login(function(){
  		
  		// display modal
  		$('#facebook_images').modal('show');
  		
  		// get photos of you
  		FB.api('/me/photos?fields=picture,album,images', function(photos) {

				$('#albums').append('<button class="btn btn-default btn-lg facebook_album_button" \
		    						data-toggle="collapse"	\
		    						data-target="#collapse_photos_of_you"	\
		    						style="width: 100%;text-align:left"><i class="fa fa-folder" style="font-size: 25px" aria-hidden="true"></i> &nbsp;&nbsp;<span style="margin-left: 350px">Photos Of You ( ' + photos.data.length + ' ) </span>' + '</button>'); 
		    						 			
 				$('#albums').append('<div class="collapse" id="collapse_photos_of_you"><div id="photos_of_you" class="container"></div></div>');
		    	  
		    	   
		    	  	// Build the grid system for images
		    	  if (photos && photos.data && photos.data.length){
		    	  	for (var j=0; j<photos.data.length; j++){
		    	  		var photo = photos.data[j];
		    	  		var row_num = parseInt(j/5);
		    	  		var row_id = "photos_of_you_" + row_num;
		    	  		if (j%5 == 0) {
		    	  			$('#photos_of_you').append('<div class="row" id="' + row_id + '"></div>');
		    	  		}
		    	  		$('#' + row_id).append('<div class="col-md-2 box facebook_image_grid" align="center" id="' + photo.id + '"></div>');
		    	  
		    	  	}
		    	  }
		    	  
		      if (photos && photos.data && photos.data.length){
		        for (var j=0; j<photos.data.length; j++){
		          var photo = photos.data[j];
		          photo.images.sort(function(a, b) { return b.width - a.width;})
		          var large_image_url = photo.images[0].source
		          if (photo.images[0].width > photo.images[0].height){
		          	var image_class = "facebook_image_width";
		          } else {
		          	var image_class = "facebook_image_height";
		          }
		          // photo.picture contain the link to picture          
		          $('#' + photo.id).append('<img src="' + photo.picture + '" \
		          								 class="' + image_class + '" id="' + large_image_url + '"></img>');
		        }
		      }
		       		
  		});
  		
  		// get all albums
		FB.api('/me/albums?fields=id,name,count', function(response) {
		  
		  for (var i=0; i<response.data.length; i++) {
		    var album = response.data[i];
		 
		    $('#albums').append('<button class="btn btn-default btn-lg facebook_album_button" \
		    						data-toggle="collapse"	\
		    						data-target="#collapse_' + album.id + '"	\
		    						style="width: 100%; text-align:left"><i class="fa fa-folder" style="font-size: 25px; margin-left: 0px" aria-hidden="true"></i> &nbsp;&nbsp;<span style="margin-left: 350px">' + album.name + ' ( ' + album.count + ' )</span> ' + '</button>');
		    	
		    	$('#albums').append('<div class="collapse" id="collapse_' + album.id + '"><div id="' + album.id +'" class="container"></div></div>');			
			
			
		    FB.api('/'+album.id+'/photos?fields=picture,album,images', function(photos){
		    	 
		    	  // Build the grid system for images
		    	  if (photos && photos.data && photos.data.length){
		    	  	for (var j=0; j<photos.data.length; j++){
		    	  		var photo = photos.data[j];
		    	  		var row_num = parseInt(j/5);
		    	  		var row_id = photo.album.id + "_" + row_num;
		    	  		if (j%5 == 0) {
		    	  			$('#' + photo.album.id).append('<div class="row" id="' + row_id + '"></div>');
		    	  		}
		    	  		$('#' + row_id).append('<div class="col-md-2 box facebook_image_grid" align="center" id="' + photo.id + '"></div>');
		    	  
		    	  	}
		    	  }
		    	  
		      if (photos && photos.data && photos.data.length){
		        for (var j=0; j<photos.data.length; j++){
		          var photo = photos.data[j];
		          photo.images.sort(function(a, b) { return b.width - a.width;})
		          var large_image_url = photo.images[0].source
		          // photo.picture contain the link to picture 
		          if (photo.images[0].width > photo.images[0].height){
		          	var image_class = "facebook_image_width";
		          } else {
		          	var image_class = "facebook_image_height";
		          }
		          // photo.picture contain the link to picture          
		          $('#' + photo.id).append('<img src="' + photo.picture + '" \
		          								 class="' + image_class + '" id="' + large_image_url + '"></img>');         
		        }
		      }
		    });
		
		  }

			  
		  
		});
  			
  			
  		}, {scope: ['user_photos']});
  		
  		// Next time no need to fetch images again
  		$('#facebook_upload_button').off();
   		$('#facebook_upload_button').click(function (){
  			open_facebook_modal();
  		});
	}
	
	$('body').on('click', '.facebook_album_button', function(){
		var this_status = $(this).attr('aria-expanded');
		$('.collapse').collapse('hide');
		$('i.fa-folder-open').addClass('fa-folder').removeClass('fa-folder-open');
		if ( this_status == "false" || this_status == null ) {
			$(this).find('i.fa-folder').addClass('fa-folder-open').removeClass('fa-folder');
		}			
	});
	
	$('body').on('click','img.facebook_image_width, img.facebook_image_height', function() {
		$('.facebook_image_grid').css('border-color', '');
		$('.facebook_image_grid').css('border-weight', '');
		$(this).parent().css('border-color', 'red');
		$(this).parent().css('border-weight', '3px');
		
    		$('#facebook_images').modal('hide');
    		$.LoadingOverlay("show");
    		
    		// and ajax call to server
    		$.ajax({
  				url: "/items/" + $('#facebook_upload_button').attr('value'),
  				data: {'image_upload': true, 'upload_from_facebook': true, 'facebook_image_url': $(this).attr('id')},
  				dataType: 'json',
  				type: 'patch',
			}).done(function(data) {
        			// Show Crop Modal
        			$('.jcrop-active').remove();
        			if ($('#item_image_cropbox').length == 0){
        				$('#item_image_cropbox_wrapper').append('<img id="item_image_cropbox" src=""></img>');
        			}
        			$('#item_image_cropbox').Jcrop({
        				setSelect: [0, 0, 450, 450],
          			allowSelect: false,
    				});
    				$('#item_image_cropbox').attr('src', data.crop_image_url);			
				$('.jcrop-selection').click(function(){return false});
				$('#crop_modal').modal('show');
				$.LoadingOverlay("hide");
		});
	});	
	
	function open_facebook_modal() {
		$('#facebook_images').modal('show');
	}
	
});
