
			<div class="row box" id="section_placeholder_<%= section_name %>" style="<% if hide_placeholder_section?(item, section_name) %>display:none<% end %>; margin-top: 20px">
				<div class="col-md-6" align="left">
					<h4 class="no_bold" style="color:#E2E2E2; margin-left: 40px; margin-top: 20px; margin-bottom: 20px">
						<%= section_label %>
					</h4>
				</div>
			</div>