<div class="row box" style="margin-top: 30px;<% if hide_filter_section?(params) %>display:none<% end %>" id="select_filter_box">
	<div class="row">
		<h4 class="no_bold" style="margin-left: 40px; margin-top: 20px">
				<span class="glyphicon glyphicon-play blink" id="select_filter_arrow">&nbsp;</span>

			Art Effects
		</h4>	
	</div>
	
	<div class="row" style="margin-bottom: 0px">
		<div class="col-md-5">
			
				<p class="no_bold" style="margin-left: 25px; margin-bottom: 50px; margin-top: 30px">
					We provide 10+ art filters to make your photos look like Van Gogh's or Picasso's paintings. Give it a try, You will be supprised !
				</p>
	
		</div>
		
		<div class="col-md-7" align="center">
			
			<div class="twentytwenty-container" style="margin-left: 40px; margin-top: 10px">
				<%= image_tag '/welcome/sunflower_after.jpg', id:"image_1", class:"thumb_image " %>
				<%= image_tag '/welcome/sunflower_before.jpg', class:"thumb_image"%>
			</div>
		</div>
	
	</div>

			<div class="row" style="margin-bottom: 20px">
				
				<div class="col-md-6">
					<%= button_tag raw("<i class=\"fa fa-paint-brush\" aria-hidden=\"true\" style=\"font-size: 20px; font-weight: bolder\">&nbspChoose Art Filter</i>"), :type => 'button', id: 'art_filter_apply_button', style: 'margin-left: 40px; width: 220px;', :class => "btn btn-primary", :onclick => "location.href = '#{art_filter_item_path(@item)}'" %>
				</div>
				
				<div class="col-md-6">
					<%= button_tag raw("<i class=\"fa\" aria-hidden=\"true\" style=\"font-size: 20px; font-weight: bolder\">&nbspSkip Filter</i>"), :type => 'button', style: 'margin-left: 40px; width: 220px; color: white; background-color: lightgrey; margin-left: 10px', :class => "btn btn-primary", :onclick => "not_interested_for_art_filter();" , id: "not_interested_button"%>
				</div>
				
	
			
			</div>
				

</div>

<script>
	
$(window).load(function() {
	<% if @update_image_cropped %>
		twentytwenty_demo();
	<% end %>
});
	function twentytwenty_demo(){
		$(".twentytwenty-container").twentytwenty({default_offset_pct : 0});
		$('.twentytwenty-overlay').hide();
		$('.twentytwenty-handle').hide();
		twentytwenty_auto_move('image_1');
	}
	function twentytwenty_auto_move(image_id) {

		var offset = 0;
		var id = setInterval(frame, 50);
		function frame() {
			if (offset == 300) {
				clearInterval(id);
				return ;
			} else {
				offset++;
				$('#' + image_id).css('clip', 'rect(0px ' + offset + 'px 200px 0px');
			}
		}
	
	}
</script>
