


<div class="row" style="height:200px; background-color:#EDEDED; margin-top:50px">
				<h4>Select size</h4>

				<div class="row" style="margin-left: 20px">
					<div class="col-sm-4">
						<label class="radio-inline">
							<%= f.radio_button  :width, "12,16,19.99" %>						
							<h4>Small</h4>
							<h7>
								12"x16" - $19.99
							</h7> </label>
					</div>
					<div class="col-sm-4">
						<label class="radio-inline">
							<%= f.radio_button  :width, "18,24,29.99" %>
							
							<h4>Medium</h4>
							<h7>
								18"x24" - $29.99
							</h7> </label>
					</div>
					<div class="col-sm-4">
						<label class="radio-inline">
							<%= f.radio_button  :width, "30,40,39.99" %>
							
							
								<h4>Large</h4>
							<h7>
								30"x40" - $39.99
							</h7> 
							
						</label>
					</div>
				</div>
				<div class="row" style="margin-left: 20px">
					<h4>All Sizes</h4>
					<div class="col-md-4">
					<%= f.select :height, [ 
											['8"x8"   - $11.99', "8,8,11.99"], \
										   	['8"x12"  - $16.99', "8,12,16.99"], \
											['12"x12"   - $21.99', "12,12,21.99"], \
										   	['12"x16"  - $31.99', "12,16,31.99"], \
											['16"x20"   - $41.99', "16,20,41.99"], \
										   	['20"x20"  - $51.99', "20,20,51.99"], \
											['20"x24"   - $61.99', "20,24,61.99"], \
																   											   											   
										   ], {prompt: "Customize Size"}, { class:"form-control"} %>						
					</div>
				</div>
			</div>