

			<div class="row"  style="border-style: solid; border-width: 1px;border-color:#e2e2e2;">
				<h4 style="margin-left: 20px"> Select your image</h4>
				<div style="margin: auto; margin-left: 50px">
					
					<!-- 1 Upload Photo -->
					<%= form_for @item do |f| %>

					<div class="field" style="margin-top: 20px">
						<%= f.file_field :image, id:"item_image", type:"file", class:"file-loading"%>
					</div>
					<div class="actions" style="margin-top: 10px">
						<%= hidden_field_tag :image_upload, true %>
						
					</div>
					<% end %>
				</div>

			</div>
			
<script>
$(document).on('ready', function() {
    $("#item_image").fileinput({showCaption: false});
});
</script>