<div class="row box" style="margin-top: 50px">
	<h4 style="margin-left: 20px"> Select art filter </h4>
	<div style="margin-top: 20px; margin-left: 40px; margin-bottom: 20px">
		<%= button_to 'Try Art Filter', art_filter_item_path(@item), method: :get, class: "btn btn-primary"%>
	</div>
		
</div>
