<div class="row box" style="margin-top: 50px">
	<h4 style="margin-left: 20px"> Select art filter </h4>
	<div style="margin-top: 20px; margin-left: 50px; margin-bottom: 20px">
		<%= button_tag "Try Art Filter", :type => 'button', :class => "btn btn-primary", :onclick => "location.href = '#{art_filter_item_path(@item)}'" %>
	</div>
	<div class="field" style="margin-left: 20px">
		<label class="no_bold"> <%= f.label "Skip Art Effects" %>
		<% if @item.art_image.file.nil? %>
			<%= f.check_box :art_filter, {id: "art_filter_checkbox", disabled: "disabled"}, false, true %> 
		<% else %>
			<%= f.check_box :art_filter, {id: "art_filter_checkbox", }, false, true %>
		<% end %>
		</label>
	</div>
</div>
