
			<div class="row box" id="select_image_collapse_box" style="<% if !hide_image_upload_section?(@new, @show, @save_fail, @item) %>display:none<% end %>">
				<div class="col-md-6" align="left">
					<h4 class="no_bold" style="margin-left: 40px; margin-top: 20px; margin-bottom: 20px">
						<span class="glyphicon glyphicon-ok ok_color" id="select_image_done_collapse"></span>&nbsp;&nbsp;
						Image Uploaded
					</h4>
				</div>
				<div class="col-md-6" style="margin-top: 10px" align="right">
					<%= button_tag "CHANGE", :type => 'button', id: 'change_image', style: 'margin-top: 7px;', :class => "btn btn-default btn-sm blue_style"%>
				</div>
			</div>