
<div class="row" style="height:300px; background-color:#EDEDED; margin-top:50px">
				<h4>Select product</h4>
				<div class="container">
					<div class="row">

						<div class="col-md-4">

							<label>
								<h7>
									Canvas Print
								</h7>
								<input type="radio" name="product" value="canvas" style="visibility: hidden;" />
								<%= image_tag '/product-canvas.jpeg' %> </label>
						</div>
						<div class="col-md-4">
							<label>
								<h7>
									Framed Paper Print
								</h7>
								<input type="radio" name="product" value="frame" style="visibility: hidden;"/>
								<%= image_tag '/product-frame.jpeg' %> </label>

						</div>

					</div>
				</div>
			</div>