
<div class="row box" style="margin-top: 50px">
				<h4 style="margin-left: 20px">Select product</h4>
				<div class="container" style="margin-bottom: 20px">
					<div class="row">

						<div class="col-md-4">

							<label>
								<h5 style="margin-left: 15px">
									Canvas Print
								</h5>
								<%= f.radio_button :product_id, "3", style: "visibility: hidden;", id:"product_canvas"%>
								<%= image_tag '/product-canvas.jpeg' %> 
							</label>
						</div>
						<div class="col-md-4">
							<label>
								<h5 style="margin-left: 15px">
									Framed Paper Print
								</h5>
								<%= f.radio_button :product_id, "4", style: "visibility: hidden;", id:"product_frame"%>
								<%= image_tag '/product-frame.jpeg' %> </label>

						</div>

					</div>
				</div>
			</div>