
<div class="row" style="height:300px; background-color:#EDEDED; margin-top:50px">
				<h4>Select product</h4>
				<div class="container">
					<div class="row">

						<div class="col-md-4">

							<label>
								<h6>
									Canvas Print
								</h6>
								<%= f.radio_button :product_id, "3", style: "visibility: hidden;", id:"product_canvas"%>
								<%= image_tag '/product-canvas.jpeg' %> </label>
						</div>
						<div class="col-md-4">
							<label>
								<h6>
									Framed Paper Print
								</h6>
								<%= f.radio_button :product_id, "4", style: "visibility: hidden;", id:"product_frame"%>
								<%= image_tag '/product-frame.jpeg' %> </label>

						</div>

					</div>
				</div>
			</div>