<!-- Instagram upload Modal -->
<div class="modal fade" id="instagram_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose your Instagram image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="my_instagram_images" class="container">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
      </div>
    </div>
  </div>
</div>


<!-- Facebook upload Modal -->
<div class="modal fade" id="facebook_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose your facebook image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="albums">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
    
      </div>
    </div>
  </div>
</div>