<style>

.fb_album_load_more {
	width: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 195px;
	background: white;
	border-style: solid;
	border-color: #EF9223;
	color: #EF9223;
	border-radius: 5px;
	font-weight: 900;	
}

.fb_album_load_more:hover {
	background: #EF9223;
	color: white;
}

.fb_close_album {
	width: 20%;
	margin-left: 120px;
	background: white;
	border-style: solid;
	border-color: grey;
	color: grey;
	border-radius: 5px;
	font-weight: 900;
}

.fb_close_album:hover {
	background: grey;
	color: white;	
}

#load_more {
	width: 50%;
	background: white;
	border-style: solid;
	border-color: #EF9223;
	color: #EF9223;
	border-radius: 5px;
	font-weight: 900;
}

#cancel_button {
	width: 50%;
	background: white;
	border-style: solid;
	border-color: grey;
	color: grey;
	border-radius: 5px;
	font-weight: 900;
}

#load_more:hover {
	background: #EF9223;
	color: white;
}

#cancel_button:hover {
	background: grey;
	color: white;	
}
</style>
<!-- Instagram upload Modal -->
<div class="modal fade" id="instagram_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="font-weight: 400">Choose your Instagram image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="my_instagram_images" class="container">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      	<div class="row" align="center">
      		<div class="col-md-6" align="center">
      			<button type="button" class="btn btn-primary" id="load_more" style="width: 50%;">LOAD MORE</button>
      		</div>
      		<div class="col-md-6" align="center">
      			<button type="button" class="btn btn-default" id="cancel_button" data-dismiss="modal" style="width: 50%">CANCEL</button>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>


<!-- Facebook upload Modal -->
<div class="modal fade" id="facebook_images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="font-weight: 400">Choose your facebook image</h4>
      </div>
      <div class="modal-body">
      	
      	<div id="albums">
      		
      	</div>

        	
      </div>
      <div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
    
      </div>
    </div>
  </div>
</div>