
			<div>
				<h3> Account </h3>
			</div>
			<hr style="margin-left: 0px" />

			<div style="margin-left: 20px">
				<h4 class="no_bold">
					<%= link_to 'Profile', edit_user_registration_path, style: "color: black" %>
				</h4>
			</div>


			<div style="margin-left: 20px">
				<h4 class="no_bold">
					<%= link_to 'My Coupons', user_manage_coupons_path, style: "color: black" %>
				</h4>
			</div>
			
			<div style="margin-left: 20px">
				<h4 class="no_bold">
					<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, style: "color: black" %>
				</h4>
			</div>

			<div style="margin-top: 50px">
				<h3> Support </h3>
			</div>
			<hr style="margin-left: 0px" />

			<div style="margin-left: 20px">
				<h4 class="no_bold" > <a href="mailto:support@magicphotoprints.com" style="color: black">Email Us</a> </h4>
			</div>

			<div style="margin-left: 20px">
				<h4 class="no_bold"> FAQ </h4>
			</div>