

				<h2 style="font-weight: 400; margin-left: 5px">
					About
				</h2>
				<hr style="width: 100%" />
			
				<h4 style="font-weight: 200; margin-bottom: 15px">
					CONTACT US
				</h4>
				<h4 style="font-weight: 200; margin-bottom: 15px">
					SHIPPING INFO
				</h4>
				<h4 style="font-weight: 200; margin-bottom: 15px">
					FAQ
				</h4>
				
				<a href="/about/terms_of_use" style="color: black">
				<h4 style="font-weight: 200; margin-bottom: 15px">
					TERMS OF USE
				</h4>
				</a>
				
				<a href="/about/privacy_policy" style="color: black">
					<h4 style="font-weight: 200; margin-bottom: 15px">
						PRIVACY POLICY
					</h4>
				</a>