<p style="margin-top: 40px;">
	This Terms of Service contains the terms and conditions that govern your use of the Website and Service. Use of the Website constitutes your acceptance of and agreement to this Terms of Service.
</p>

<p>
	MagicPhotoPrints.Com reserves the right to change the terms, conditions, and notices under which it offers the Services Provided, including any charges associated with the use of the Services. You are responsible for reviewing these terms, conditions and notices that are posted on MagicPhotoPrints.Com web site. In the event of substantive changes to the terms, you may be notified by email. Your continued use of the Services constitutes your acceptance of and agreement to such changes. If any modification is unacceptable to you, your only recourse is to not use the Website and Service.
</p>
<br />
<h4 style="margin: 0 0 6px 0;">The MagicPhotoPrints.Com Service.</h4>
<br />

<p>
MagicPhotoPrints.Com provides a number of Internet-based services through the Website to enable users to create and purchase customized products, including without limitation, framed and unframed canvas prints.
</p>

<br />
<h4 style="margin: 0 0 6px 0;">Eligibility.</h4>
<br />

<p>
MagicPhotoPrints.Com will only knowingly provide the MagicPhotoPrints.Com Service to parties that can lawfully enter into and form contracts under applicable law. If you are under the age of 18, but at least 13 years of age, you may use the MagicPhotoPrints.Com Service only under the supervision of a parent or legal guardian who agrees to be bound by this Terms of Service. The MagicPhotoPrints.Com Service is not intended for children under the age of 13.
</p>

<br />
<h4 style="margin: 0 0 6px 0;">Disclaimer of Warranty and Limitation of Liability.</h4>
<br />

<p>
	DISCLAIMER. YOU AGREE ALL GOODS AND SERVICES ARE PROVIDED STRICTLY ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTY, GUARANTEE OR OTHER ASSURANCE OF QUALITY, CONFORMITY WITH SPECIFICATIONS, RELIABILITY OR FUNCTIONALITY. YOU ACCEPT ALL RISK CONCERNING SUITABILITY, USE, PERFORMANCE OR NON-PERFORMANCE OF MAGICPHOTOPRINTS.COM.
</p>
<br />

<p>
MAGICPHOTOPRINTS.COM GRANTS NO RIGHTS AND MAKES NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO THE USE OF ANY NAMES, INDIVIDUALS, LIKENESSES, TRADEMARKS, LOGOTYPES, COPYRIGHTED DESIGNS OR WORKS OF ART OR ARCHITECTURE DEPICTED IN ANY IMAGE. IT IS YOUR RESPONSIBILITY TO ASSURE THAT ALL NECESSARY RIGHTS, CONSENTS, OR PERMISSIONS AS MAY BE REQUIRED FOR YOUR USE OF ANY IMAGES ARE OBTAINED.	
</p>
<br />

<p>
YOU UNDERSTAND AND AGREE THAT THE SUBMISSION OF ANY CONTENT OR IMAGE TO SITE, AND THE DOWNLOAD OR UPLOAD OF ANY CONTENT OR MATERIAL THROUGH THE SITE OR SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY LOSS OR DAMAGE TO YOUR CONTENT OR IMAGE OR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT MAY RESULT IN THE DOWNLOAD OR UPLOAD OF ANY SUCH MATERIAL.	
</p>
<br />

<p>
LIMITATION OF LIABILITY. IN NO EVENT SHALL MAGICPHOTOPRINTS.COM OR ITS LICENSORS BE LIABLE FOR LOST PROFITS OR ANY SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE, OR CONSEQUENTIAL DAMAGES (HOWEVER ARISING, INCLUDING NEGLIGENCE) ARISING OUT OF OR IN CONNECTION WITH THE AGREEMENT. SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES. SO THE ABOVE EXCLUSIONS SHALL ONLY APPLY TO THE EXTENT PERMISSIBLE UNDER APPLICABLE LAW. TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, MAGICPHOTOPRINTS.COM AGGREGATE LIABILITY, AND THE AGGREGATE LIABILITY OF ITS LICENSORS, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO $100 IF YOU ARE DISSATISFIED WITH THE SERVICES, YOU DO NOT AGREE WITH ANY PART OF THE AGREEMENT, OR YOU HAVE ANY OTHER DISPUTE OR CLAIM WITH OR AGAINST ANY PARTY WITH RESPECT TO THE AGREEMENT OR THE SERVICES, THEN YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SERVICES.	
</p>
<br />

<br />
<h4 style="margin: 0 0 6px 0;">Indemnification.</h4>
<br />

<p>
You must indemnify and hold MagicPhotoPrints.Com and its employees, representatives, agents, affiliates, directors, officers, managers and shareholders harmless from any damage, loss, or expense (including without limitation, attorneys' fees and costs) incurred in connection with any third-party claim, demand or action brought against any of the Parties alleging that you have breached any provision of this Terms of Service through any act or omission. If you have to indemnify MagicPhotoPrints.Com under this Section, MagicPhotoPrints.Com will have the right to control the defense, settlement, and resolution of any Claim at your sole expense. You may not settle or otherwise resolve any Claim without MagicPhotoPrints.Com's express written permission.	
</p>
<br />

<br />
<h4 style="margin: 0 0 6px 0;">Severance.</h4>
<br />

<p>
If any of these Terms and Conditions should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms and Conditions shall survive and remain in full force and effect and continue to be binding and enforceable.	
</p>
<br />

<br />
<h4 style="margin: 0 0 6px 0;">Force Majeure.</h4>
<br />


<p>
MagicPhotoPrints.Com is excused from any failure or delay in performance of responsibilities otherwise imposed by this Agreement for any cause beyond its reasonable control. Such causes include, without limitation, fires, floods, storms, earthquakes, civil disturbances, disruption of telecommunications, transportation, utilities or necessary supplies, governmental action, computer viruses and incompatible or defective equipment, software or services not supplied by MagicPhotoPrints.Com.	
</p>
<br />

<br />
<h4 style="margin: 0 0 6px 0;">Governing Law.</h4>
<br />

<p>
These Terms are governed by and shall be construed in accordance with the laws of the State of California without giving effect to any principles of conflicts of law. Any controversy or dispute involving MagicPhotoPrints.Com arising from or in any way related to these Terms or your use of the Site shall be heard in the appropriate State or Federal court in California.
</p>
<br />
