<%= render 'layouts/navbar' %>

	<div class="container" style="margin-top: 50px; margin-bottom: 50px">
		<div class="row">
			<div class="col-md-2">
				<%= render 'about_contents'%>
			</div>
			
			<div class="col-md-10">
				<h2 style="font-weight: 400; margin-left: 5px">
					Privacy Policy
				</h2>
				<hr style="width: 100%"/>
				
		
				<%= render 'privacy_policy' %>
			
			
			</div>		
		
		</div>
	
	
	</div>







<%= render 'layouts/footer' %>
