/* all the grey 2px solid boxes, eg, image overview, cart summary, etc */
.box {
	border-style: solid; 
	border-width: 1px;
	border-color: #e2e2e2;
}

.facebook_image_grid {
	width: 160px;
	height: 160px;
}

.facebook_image {
	top: 50%;
	position: relative;
	transform: 			translateY(-50%);
	cursor: pointer;
}

.four_box {
	background-color: white;
	height: 300px;
	border-radius: 5px;
}

.clickable {
	cursor: pointer;
}
h4.no_bold { 
	font-weight:	normal;
}

h3.no_bold {
	font-weight:	normal;
}

b.no_bold {
	font-weight:	normal;
}

label.no_bold{
	font-weight:normal;
}
span.form_error {
	font-weight:	normal;
	color: red;
}



.thumb_image {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;	
}
.crop_image {
    height: auto; 
    width: auto; 
    max-width: 450px; 
    max-height: 450px;
}

.overview_image {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}	

.filter_image {
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 800px;
}

.facebook_icon {
    height: auto; 
    width: auto; 
    max-width: 20px; 
    max-height: 20px;
}		

/* Welcome Page */
.how_it_works_image{
    height: auto; 
    width: auto; 
    max-width: 170px; 
    max-height: 170px;	
}

.how_it_works_num{
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;	
}

/* Loading Image */
#divLoading
{
	display : none;
}
#divLoading.show
{
	display : block;
	position : fixed;
	z-index: 100;
	background-image : url('/loading_icon.gif');
	/*background-color:white;*/
	opacity : 1;
	background-repeat : no-repeat;
	background-position : center;
	left : 0;
	bottom : 0;
	right : 0;
	top : 0;
}
#loadinggif.show
{
	left : 50%;
	top : 50%;
	position : absolute;
	z-index : 101;
	width : 32px;
	height : 32px;
	margin-left : -16px;
	margin-top : -16px;
}


.image_black_frame_in_email {
  border:15px solid transparent;
  /* border image */
  -moz-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_black.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_black.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_black.png) 30 30 stretch; /* Opera */
  border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_black.png) 30 30 stretch; 
}

.image_white_frame_in_email {
  border:15px solid transparent;
  /* border image */
  -moz-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_white.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_white.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_white.png) 30 30 stretch; /* Opera */
  border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_white.png) 30 30 stretch; 
}
.image_brown_frame_in_email {
  border:15px solid transparent;
  /* border image */
  -moz-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_brown.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_brown.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_brown.png) 30 30 stretch; /* Opera */
  border-image:url(https://arcane-sands-61757.herokuapp.com/items/frame_brown.png) 30 30 stretch; 
}

.image_frame_mat_in_email {
  padding: 15px;
}
