// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_shadow_in_cart {
  box-shadow: 8px 8px 5px #888888;
}

#checkout_button {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

.position_fixed {
    position: fixed;
    top: 100px;  
}

#cart_note {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    height: 50px;
    text-align: center;
    
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;

}

#continue_shopping_button {

  background-color: #709BC5;
  border-color: #709BC5;
  color: white;
  border-radius: 0px;
  font-weight: bold;
}

#continue_button {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: black;
  border-radius: 0px;
  font-weight: bold;
}

.cart_image {
    height: auto; 
    width: auto; 
    max-width: 450px; 
    max-height: 450px;
}

.image_frame_mat_in_cart {
  padding: 20px;
}

.image_black_frame_in_cart {
  border:20px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_black.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_black.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_black.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_black.png) 30 30 stretch; 
}

.image_white_frame_in_cart {
  border:20px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_white.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_white.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_white.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_white.png) 30 30 stretch; 
}
.image_brown_frame_in_cart {
  border:20px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_brown.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_brown.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_brown.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_brown.png) 30 30 stretch; 
}

.triptych_1_in_cart {
    max-width: 150px; 
    max-height: 450px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_2_in_cart {
    max-width: 150px; 
    max-height: 450px;
    background: url() -100px 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_3_in_cart {
    max-width: 150px; 
    max-height: 450px;
    background: url() -200px 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}
