// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_shadow_in_order_index {
  box-shadow: 4px 4px 5px #888888;
}

.image_shadow_in_order_show {
  box-shadow: 5px 5px 5px #888888;
}

.image_black_frame_in_order_index {
  border:10px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_black.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_black.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_black.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_black.png) 30 30 stretch; 
}

.image_white_frame_in_order_index {
  border:10px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_white.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_white.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_white.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_white.png) 30 30 stretch; 
}
.image_brown_frame_in_order_index {
  border:10px solid transparent;
  /* border image */
  -moz-border-image:url(/items/frame_brown.png) 30 30 stretch; /* Old Firefox */
  -webkit-border-image:url(/items/frame_brown.png) 30 30 stretch;  /* Safari and Chrome */
  -o-border-image:url(/items/frame_brown.png) 30 30 stretch; /* Opera */
  border-image:url(/items/frame_brown.png) 30 30 stretch; 
}


.triptych_1_in_order_index {
    max-width: 66px; 
    max-height: 200px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_2_in_order_index {
    max-width: 66px; 
    max-height: 200px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_3_in_order_index {
    max-width: 66px; 
    max-height: 200px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_1_in_order_show {
    max-width: 100px; 
    max-height: 300px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_2_in_order_show {
    max-width: 100px; 
    max-height: 300px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

.triptych_3_in_order_show {
    max-width: 100px; 
    max-height: 300px;
    background: url() 0 0;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    display: none;
    display:inline-block;
}

#order_complete_icon {
    height: auto; 
    width: auto; 
    max-width: 70px; 
    max-height: 70px;  
}