// Place all the styles related to the pricing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_price:hover {
  color: #EF9223;
}

#create_button {
  background-color: #ef9223;
  border-color: #ef9223;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  height: 40px;

}

#product {
    text-transform:capitalize;
}

/* home section */
#price_header {
  margin-top: -20px;
  background: url('/pricing/price_header_pic.jpg') 100%;
  opacity: 0.4;
  -webkit-background-size: cover;
  
  background-position: center;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
 
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45vh;
 
}
#price_header h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
}

#price_header_image {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}
