// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.number_circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 30px;
    height: 30px;
    padding: 2px;
    background: #fff;
    border: 2px solid #ef9223;
    color: #ef9223;
    text-align: center;
    font: 20px Arial, sans-serif;
    display: inline-block;
    margin-left: 15px;
}

.product_image_in_welcome {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;  
}

#get_started_button {
  width: 400px;
  height: 50px;
  border-color: #ef9223;
  border-style: solid;
  background-color: #ef9223;
  border-radius: 25px;
  margin-top: 50px;
  
}
