

<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p style="font-weight: 200; font-size: 13px">
					© 2017 MAGICPHOTOPRINTS.COM LLC &nbsp; | &nbsp; ABOUT US &nbsp;|&nbsp; FAQ &nbsp;|&nbsp; <a href="/about/terms_of_use">TERMS OF USE</a> &nbsp;|&nbsp; <a href="/about/privacy_policy">PRIVACY POLICY</a> &nbsp;|&nbsp; Need Support ? &nbsp; <a href="mailto:support@magicphotoprints.com" id="email_link"><span class="glyphicon glyphicon-envelope"></span> &nbsp; Email Us</a>
				</p>
			</div>
		</div>
	</div>
</section>