

<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>
					© 2017 MAGICPHOTOPRINTS.COM INC &nbsp; | &nbsp; Need Support ? &nbsp; <a href="mailto:support@magicphotoprints.com" id="email_link"><span class="glyphicon glyphicon-envelope"></span> &nbsp; Email Us</a>
				</p>
			</div>
		</div>
	</div>
</section>